{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<br>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

  {% endif %}
<div class="card">
  <div class="card-header">
      <h5 class="card-title">Invoice Details</h5>
  </div>
    <div class="card-body table-responsive-sm">
      <dl class="row">
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">
          <a class="btn btn-sm btn-{{ invoice.status_color }}" style="pointer-events: none;">
            {{ invoice.status }}
          </a>
        </dd>

        <dt class="col-sm-3">Number</dt>
        <dd class="col-sm-9">{{ invoice.number }}</dd>

        <dt class="col-sm-3">Order</dt>
        <dd class="col-sm-9"><a href="{% url 'order' invoice.order.id %}"><span>{{ invoice.order.number }}</span></a></dd>

        <dt class="col-sm-3">Buyer</dt>
        <dd class="col-sm-9"><a href="{% url 'buyer' invoice.buyer.id %}"><span>{{ invoice.buyer.name }}</span></a></dd>

        <dt class="col-sm-3">Total</dt>
        <dd class="col-sm-9">R{{ invoice.order.total_amount|floatformat:2|intcomma }}</dd>

        {% if invoice.order.discounted %}
        <dt class="col-sm-3">Discount</dt>
        <dd class="col-sm-9">-R{{ invoice.order.discount|floatformat:2|intcomma }}</dd>
        {% endif %}

        <dt class="col-sm-3">Amount Paid</dt>
        <dd class="col-sm-9 text-success">R{{ invoice.total_payment|floatformat:2|intcomma }}</dd>

        <dt class="col-sm-3">Amount Due</dt>
        <dd class="col-sm-9 text-danger">R{{ invoice.amount_due|floatformat:2|intcomma }}</dd>

        <dt class="col-sm-3">Created Date</dt>
        <dd class="col-sm-9">{{ invoice.created|date:"Y-m-d" }}</dd>

        <dt class="col-sm-3">Closed Date</dt>
        <dd class="col-sm-9">{% if not invoice.closed_date %}-{% else %}{{ invoice.closed_date|date:"Y-m-d" }}{% endif %}</dd>
      </dl>

      <hr>
      <table id="order-line-table" class="table table-sm table-borderless">
        <thead>
        <tr>
          <th>Product Code</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for ol in invoice.order.orderlines %}
          <tr>
            {% if ol.is_discount %}
              <td>Discount</td>
              <td>{{ ol.quantity }} {{ ol.product.spec.sale_by }}</td>
              <td>-R{{ ol.price|floatformat:2 }}</td>
              <td>-R{{ ol.total|floatformat:2 }}</td>
            {% else %}
              <td>{{ ol.product }}</td>
              <td>{{ ol.quantity|floatformat:2|intcomma }} {{ ol.product.spec.sale_by }}</td>
              <td>{{ ol.price|floatformat:2 }} (R/{{ ol.product.spec.sale_by }})</td>
              <td>R{{ ol.total|floatformat:2|intcomma }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card-footer text-lg-center">
        <a href="{% url 'invoices' %}" class="btn btn-sm btn-secondary float-lg-left">Back</a>

      {% if not invoice.has_payment %}
        {% if invoice.is_payable %}
          <a class="btn btn-sm btn-primary float-lg-right" style="margin-left: 20px;" href="{% url 'payment-create' invoice.id %}">Add Payment</a>
        {% endif %}
      {% endif %}
      {% if invoice.is_invoiceable %}
        <a class="btn btn-sm btn-primary float-lg-right" style="margin-left: 20px;" href="{% url 'invoice-order' invoice.order.id %}">Email Invoice to Buyer</a>
      {% endif %}
    </div>
</div>

  {% if invoice.has_payment %}
<br>
<br>
<br>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Payment Received</h5>
      </div>
      <div class="card-body table-responsive-sm">
        <table class="table table-sm table-borderless">
          <thead>
          <tr>
            <th>Amount</th>
            <th>Method</th>
            <th>Status</th>
            <th>Payment Date</th>
            <th>Update</th>
          </tr>
          </thead>
          <tbody>
          {% for p in payments %}
          <tr class="text-left">
              <td class="text-success">R{{ p.amount|floatformat:2|intcomma }}</td>
              <td>{{ p.method }}</td>
                <td><a class="btn btn-sm btn-{{ p.status_color }}" style="pointer-events: none;">{{ p.status }}</a></td>
              <td>{{ p.created|date:"Y-m-d" }}</td>
              {% if p.status == "CONFIRMED" %}
              <td>-</td>
              {% else %}
              <td><a href={% url 'payment-update' p.id %}><span
                          data-feather="edit"></span></a></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer text-center">
        {% if invoice.is_payable %}
          <a class="btn btn-sm btn-primary float-lg-right" style="margin-left: 20px;" href="{% url 'payment-create' invoice.id %}">Add Payment</a>
        {% endif %}
      </div>

    </div>

  {% endif %}

{% endblock %}
