{% extends 'base.html' %}

{% block content %}
  <br>
  <div class="card">
  <div class="card-header">
    <h5 class="card-title">Open Invoices</h5>
  </div>
  <div class="card-body table-responsive-sm">
    <table id="opened-invoices-table" class="display table table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th>Invoice #</th>
        <th>Status</th>
        <th>Order</th>
        <th>Buyer</th>
        <th>Created Date</th>
      </tr>
      </thead>
      <tbody>
      {% for invoice in invoices %}
        {% if invoice.status != "CLOSED" %}
        <tr>
          <td><a href="{% url 'invoice' invoice.id %}"><span>{{ invoice.number }}</span></a></td>
          <td><a class="btn btn-sm btn-{{ invoice.status_color }}" style="pointer-events: none;">{{ invoice.status }}</a></td>
          <td><a href="{% url 'order' invoice.order.id %}"><span>{{ invoice.order.number }}</span></a></td>
          <td><a href="{% url 'buyer' invoice.buyer.id %}"><span>{{ invoice.buyer.name }}</span></a></td>
          <td>{{ invoice.created|date:"Y/m/d" }}</td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

  <br>
  <br>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Closed Invoices</h5>
    </div>
    <div class="card-body table-responsive-sm">
      <table id="closed-invoices-table" class="display table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
          <th>Invoice #</th>
          <th>Status</th>
          <th>Order</th>
          <th>Buyer</th>
          <th>Created Date</th>
          <th>Closed Date</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
          {% if invoice.status == "CLOSED" %}
            <tr>
              <td><a href="{% url 'invoice' invoice.id %}"><span>{{ invoice.number }}</span></a></td>
              <td><a class="btn btn-sm btn-{{ invoice.status_color }}" style="pointer-events: none;">{{ invoice.status }}</a></td>
              <td><a href="{% url 'order' invoice.order.id %}"><span>{{ invoice.order.number }}</span></a></td>
              <td><a href="{% url 'buyer' invoice.buyer.id %}"><span>{{ invoice.buyer.name }}</span></a></td>
              <td>{{ invoice.created|date:"Y/m/d" }}</td>
              <td>{% if not invoice.closed_date|date:"Y/m/d" %} - {% else %}{{ invoice.closed_date|date:"Y/m/d" }} {% endif %}</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <script>
      $(document).ready( function () {
          var oTable = $('#opened-invoices-table').DataTable();
          oTable.fnSort(
              [
                  [3,'asc'],
              ]
          );
      } );

      $(document).ready( function () {
          var oTable = $('#closed-invoices-table').DataTable();
          oTable.fnSort(
              [
                  [3,'asc'],
              ]
          );
      } );
  </script>

{% endblock %}
