{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <br>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Add Expense:</h5>
    </div>
    <div class="card-body">

      <form method="post">
        {% csrf_token %}
        {% crispy form %}
      </form>
      <br>
      <br>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
</div>
{% endblock %}
