{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <br>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Delete A Expense</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <dl class="row">
            <dt class="col-sm-3">Date</dt>
            <dd class="col-sm-9">{{ expense.date|date:"Y-m-d" }}</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">{{ expense.description }}</dd>

            <dt class="col-sm-3">Method</dt>
            <dd class="col-sm-9">{{ expense.method }}</dd>

            <dt class="col-sm-3">Amount</dt>
            <dd class="col-sm-9 text-danger">-R{{ expense.amount|floatformat:2|intcomma }}</dd>
            </dl>

            <div class="alert alert-warning" role="alert">
                This action will remove the expense record permanently. Proceed?
            </div>
          <br>
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            <input type="submit" formnovalidate name="cancel" value="Cancel" class="btn btn-sm btn-secondary"/>
        </form>
    </div>
</div>

{% endblock %}
