{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h3> Buyers</h3>
    <a href="{% url 'buyer-create' %}" class="btn btn-primary">New Buyer</a>
  </div>
  <br>
    <table id="buyer_table" class="display table table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Contact Person</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for buyer in buyers %}
        <tr>
          <td><a href="{% url 'buyer' buyer.id %}"><span>{{ buyer.name }}</span></a></td>
          <td>{{ buyer.buyer_type }}</td>
          <td>{{ buyer.contact_person }}</td>
          <td>{{ buyer.mobile }}</td>
          <td>{{ buyer.email }}</td>
          <td>{{ buyer.address }}</td>
          <td>
            <a href="{% url 'buyer-update' buyer.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'buyer-delete' buyer.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


  <script>
      $(document).ready( function () {
          $('#buyer_table').DataTable();
      } );
  </script>

{% endblock %}
