{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <br>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Edit Discount Amount</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>

  <script>
    var max_discount = {{ order.total_amount }} * 0.5;
    var price_elem = document.getElementsByName("price")[0];
    price_elem.max = max_discount;
    price_elem.min = 0.0;
  </script>
{% endblock %}
