{% extends 'base.html' %}

{% block content %}
  <br>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">This item will be removed.</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <dl class="row">
            <dt class="col-sm-3">Product</dt>
            <dd class="col-sm-9">{{ object.buyer_product.product }}</dd>

            <dt class="col-sm-3">Quantity (m<sup>2</sup>)</dt>
            <dd class="col-sm-9">{{ object.quantity }}</dd>

            <dt class="col-sm-3">Price (R)</dt>
            <dd class="col-sm-9">{{ object.price }}</dd>

            <dt class="col-sm-3">Amount (R)</dt>
            <dd class="col-sm-9">{{ object.total }}</dd>
            </dl>

            <div class="alert alert-warning" role="alert">
                Are you sure you want to remove it from from this order?
            </div>
          <br>
          <input type="submit" formnovalidate name="cancel" value="Cancel" class="btn btn-sm btn-secondary"/>
          <input type="submit" value="Remove" class="btn btn-sm btn-danger">
        </form>
    </div>
</div>

{% endblock %}
