{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <br>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Select item to add to order:</h3>
    </div>
  {% if buyer_products %}
    <form id="order-add-item-form" method="post">
      {% csrf_token %}
    <div class="card-body table-responsive-sm">

{#      <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.buyer }}#}
{#      <br>#}
{#      <br>#}
{#        {% if create %}#}
{#          <input type="submit" formnovalidate name="cancel" value="Cancel" class="btn btn-secondary btn-sm"/>#}
{#          <input type="submit" value="Next" class="btn btn-primary btn-sm">#}
{#        {% endif %}#}
{#        </form>#}

    <ul>
      {% for bp in buyer_products %}
        <li><h4>{{ bp.product.code }}: R{{ bp.price }}/m<sup>2</sup></h4></li>
        {% if bp.available_rolls %}
          <table id="{{ bp.id }}" class="table table-sm table-hover">
            <thead>
            <tr>
              <th>Roll ID</th>
              <th>Quantity (m<sup>2</sup>)</th>
              <th>Available (m<sup>2</sup>)</th>
              <th>Reserved (m<sup>2</sup>)</th>
              <th>Sold (m<sup>2</sup>)</th>
              <th>Status</th>
              <th>Batch</th>
              <th>Location</th>
            </tr>
            </thead>
            <tbody>
            {% for roll in bp.available_rolls  %}
              {% if not roll.id in ordered_rolls and roll.available != 0  %}
              <tr>
                <td>{{ roll.id }}</td>
                <td width="20%">
                  <input max="{{ roll.available }}" min="0" name="turf-roll" id="{{ roll.id }}" type="number" style="width:100px;" onchange="updateSelectedRolls()">
                </td>
                <td class="text-success">{{ roll.available|floatformat:2 }}</td>

                {% if roll.reserved != 0 %}
                  <td><a class="text-warning" style="color: #anycolor !important;" href="{% url 'reserved-orders' roll.id %}">{{ roll.reserved|floatformat:2 }}</a></td>
                {% else %}
                  <td>{{ roll.reserved|floatformat:2 }}</td>
                {% endif %}

                {% if roll.sold != 0 %}
                  <td class="text-primary"><a href="{% url "closed-orders" roll.id %}">{{ roll.sold|floatformat:2 }}</a></td>
                {% else %}
                  <td>{{ roll.sold }}</td>
                {% endif %}
                <td><a class="btn btn-sm btn-{{ roll.status_color }}" style="pointer-events: none;">{{ roll.status }}</a></td>
                <td>{{ roll.batch }}</td>
                <td>{{ roll.location }}</td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
          <br>
          <br>
        {% else %}
          <div>
            <p> There is no stock available for this product.</p>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
    </div>
    {{ form.selected_items }}
    <div class="card-footer">
      <a href="{% url 'order' order.id %}" class="btn btn-sm btn-secondary float-lg-left">Cancel</a>
      <input type="submit" value="Add To Order" class="btn btn-sm btn-primary float-lg-right">
    </div>
    </form>
    <br>
    <br>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}
{% else %}
    <div class="card-body">
      <div>
        <p>There is no product assign to this buyer yet.</p>
      </div>
    </div>
  {% endif %}
</div>


<script type="text/javascript">

    {% for bp in buyer_products %}
      {% if bp.available_rolls %}
          $(document).ready( function () {
              $('#{{ bp.id }}').DataTable();
          } );
      {% endif %}
    {% endfor %}

  function updateSelectedRolls() {
    var rolls = document.getElementsByName("turf-roll");
    var requested_rolls = Array();
    for (var i=0; i<rolls.length; i++) {
        if (rolls[i].value !== "") {
            var obj = Object();
            var bp_id = rolls[i].parentElement.parentElement.parentElement.parentElement.id;
            obj.roll_id = rolls[i].id;
            obj.quantity = Number(rolls[i].value);
            obj.buyer_product_id = bp_id;
            requested_rolls.push(obj);
        }
    }
    document.getElementById("id_selected_items").value = JSON.stringify(requested_rolls);
  }
</script>

{% endblock %}
