{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h3">Dashboard</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button id="date-range-picker" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle disabled">
         <i data-feather="calendar"></i>
         <span></span> <i class="fa fa-caret-down"></i>
      </button>
    </div>
  </div>

  <div id="large-screen-charts" class="float-left chart-container text-center;" style="width:120%;">
    <div id="stock-sold-chart-parent-div" class="col-sm-6" style="width: 40%; display: inline-block;">
      <canvas id="stock-sold-chart" name="stock-sold-chart"></canvas>
    </div>
    <div id="sales-chart-parent-div" class="col-sm-6" style="width: 40%; display: inline-block;">
      <canvas id="sales-chart" name="sales-chart"></canvas>
    </div>
    <hr>
    <div id="stock-chart-parent-div" class="col-sm-6" style="width: 40%; display: inline-block;">
      <canvas id="stock-chart" name="stock-chart"></canvas>
    </div>
    <div id="chartContainer" class="col-sm-6" style="width: 40%; display: inline-block;">
      <canvas id="buyer-chart" name="buyer-chart"></canvas>
    </div>

  </div>

  <br>
  <br>
  <script>
      function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
      }

      function generateBackgroundColors(numberOfColors) {
          var colorArray = []
          for(var i=0; i<numberOfColors; i++) {
              color = getRandomColor();
              console.log(color);
              colorArray.push(color);
          }
          return colorArray
      }

      $(document).ready(function () {
          $('#recent-orders-table').dataTable(
              {
                  "order": [
                      [4,'desc'],
                      [0,'desc'],
                  ]
              }
          );
      });
      var endpoint = "/api/chart/data/";
      var customer = parseInt("{{ data.customers }}");
      var defaultData = [];
      var labels = [];
      var start = moment().startOf('month') //moment().subtract(30, 'days');
      var end =  moment().endOf('month')//moment();
      var start_date = start.format("YYYY-MM-DD");
      var end_date = end.format("YYYY-MM-DD");

      $.ajax({
          method: "GET",
          url: endpoint,
          data: {
            start_date: start_date,
            end_date: end_date,
          }, 
          success: function (data) {
            var stock_data = data.stock_data;
            var stock_sold_data = data.stock_sold_data;
            var sales_data = data.sales_data;
            var buyer_data = data.buyer_data;

            var ctxes = document.getElementById('stock-chart');
            setBarChart("Stock Available", stock_data.labels, stock_data.default, "Available (m²)", ctxes);

            ctxes = document.getElementById('buyer-chart');
            setBuyerChart(buyer_data.labels, buyer_data.default, ctxes);

          },
          error: function (error_data) {
              console.log("error");
              console.log(error_data);
          }
      });

      function setBarChart(title, labels, defaultData, dataLabel, ctx) {
          var colors = generateBackgroundColors(labels.length);
          var xStepSize = Math.ceil(Math.max(defaultData) / 15);
          var barChart = new Chart(ctx, {
              type: "bar",
              data: {
                  labels: labels,
                  datasets: [{
                      label: dataLabel,
                      data: defaultData,
                      backgroundColor: colors,
                      borderColor: colors,
                      borderWidth: 1.5
                  }]
              },
              options: {
                  maintainAspectRatio: true,
                  responsive: true,
                  scales: {
                      yAxes: [
                          {
                            stacked: false,
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'm²',
                                fontStyle: "bold"
                            }
                        }
                      ],
                      xAxes: [
                          {
                            stacked: true,  
                            ticks: {
                                stepSize: xStepSize,
                                autoSkip: false
                            },
                            scaleLabel: {
                                display: false,
                                labelString: 'Product Code',
                                fontStyle: "bold"
                            },
                          }
                      ]
                  },
                  legend: {display: false},
                  title: {
                      display: true,
                      text: title,
                      fontStyle: "bold",
                      fontSize:16
                  },
                  plugins: {
                      labels: {
                          render: 'label'
                      }
                  }

              }
          });
      }

      function setBuyerChart(labels, defaultData, ctx) {
          colors = generateBackgroundColors(labels.length);
          var myChart = new Chart(ctx, {
              type: "pie",
              data: {
                  labels: labels,
                  datasets: [{
                      label: "Total (R)",
                      data: defaultData,
                      backgroundColor: colors,
                      hoverBackgroundColor: colors,
                      borderWidth: 1.5
                  }]
              },
              options: {
                  maintainAspectRatio: true,
                  responsive: true,
                  legend: {
                      display: true,
                      position: 'right'
                  },
                  title: {
                      display: true,
                      text: 'Top Buyers',
                      fontStyle: "bold",
                      fontSize: 16
                  },
                  plugins: {
                      labels: {
                          render: 'label'
                      }
                  }
              }
          });
      }

      function setProductChart(labels, defaultData, ctx) {

          var myChart = new Chart(ctx, {
              type: "bar",
              data: {
                  labels: labels,
                  datasets: [{
                      label: "Total(R)",
                      data: defaultData,
                      backgroundColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1.5
                  }]
              },
              options: {
                  maintainAspectRatio: true,
                  responsive: true,
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          },

                          scaleLabel: {
                              display: true,
                              labelString: 'Rand',
                              fontStyle: "bold"
                          }
                      }],
                      xAxes: [{
                          scaleLabel: {
                              display: false,
                              labelString: 'Month',
                              fontStyle: "bold"
                          }
                      }]
                  },
                  legend: {display: false},
                  title: {
                      display: true,
                      text: 'Monthly Turnovers',
                      fontStyle: "bold",
                      fontSize: 16
                  }
              }
          });
      }

      function setLineChart(labels, defaultData, ctx) {
          var myChart = new Chart(ctx, {
              type: "line",
              data: {
                  labels: labels,
                  datasets: [{
                      label: "Total(R)",
                      data: defaultData,
                      borderColor: "#3e95cd",
                      fill: true,
                      borderWidth: 2
                  }]
              },
              options: {
                  showLines: true,
                  onClick: function(evt) {
                    var element = myChart.getElementAtEvent(evt);
                    if(element.length > 0) {
                      var ind = element[0]._index;
                      console.log(labels[ind]);
                      console.log(defaultData[ind]);
                      var closed_date = labels[ind].toString();
                      console.log(closed_date);
                      window.location.href = "{% url 'search-orders' %}?closed_date=" + closed_date;
                    }
                  },
                  maintainAspectRatio: true,
                  responsive: true,
                  title: {
                      display: true,
                      text: 'Daily Turnovers',
                      fontSize: 16
                  },
                  legend: {display: false},
                  scales: {
                      yAxes: [
                          {
                              ticks: {
                                  beginAtZero: true
                              },

                              scaleLabel: {
                                  display: true,
                                  labelString: 'Rand',
                                  fontStyle: 'bold'
                              }
                          }
                      ],
                      xAxes: [
                          {
                              ticks: {
                                  display: true
                              },
                              scaleLabel: {
                                  display: false,
                                  labelString: 'Date',
                                  fontStyle: 'bold',
                              }
                          }
                      ]
                  }
              }
          });
      }

      $(function() {

          var start = moment().startOf('month') //moment().subtract(30, 'days');
          var end =  moment().endOf('month')//moment();

          function cb(start, end) {
              $('#date-range-picker span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
              console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

              var start_date = start.format("YYYY-MM-DD");
              var end_date = end.format("YYYY-MM-DD");
              $.ajax({
                  type: "GET",
                  url: "api/chart/data",
                  data: {
                      start_date: start_date,
                      end_date: end_date,
                  },   /* Passing the text data */
                  success:  function(data){
                    var stock_data = data.stock_data;
                    var stock_sold_data = data.stock_sold_data;
                    var sales_data = data.sales_data;
                    var buyer_data = data.buyer_data;

                  document.getElementById('stock-sold-chart').remove();
                  document.getElementById('stock-sold-chart-parent-div').innerHTML += '<canvas id="stock-sold-chart" name="stock-sold-chart"></canvas>'

                    var ctxes = document.getElementById('stock-sold-chart').getContext("2d");
                    setBarChart("Stock Sold", stock_sold_data.labels,stock_sold_data.default, "Sold (m²)", ctxes);

                    document.getElementById('sales-chart').remove();
                    document.getElementById('sales-chart-parent-div').innerHTML += '<canvas id="sales-chart" name="sales-chart"></canvas>'

                    ctxes = document.getElementById('sales-chart');
                    setLineChart(sales_data.labels, sales_data.default, ctxes);

                  }
              });
          }
          $('#date-range-picker').daterangepicker({
              "locale": {
                  "applyLabel": "Update Dashboard",
                  "cancelLabel": "Clear",
              },
              startDate: start,
              endDate: end,
              ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              }
          },
              cb
          );
          cb(start, end);
      });

  </script>
{% endblock %}
