{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="" class="btn btn-primary">Create Order</a>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Invoice</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="" class="btn btn-primary">Create Invoice</a>
            </div>
          </div>
        </div>
  </div>
  <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buyer</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="" class="btn btn-primary">Add Buyer</a>
                </div>
            </div>
        </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Stocks</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-primary">Stocks</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
