{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <br>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Loading Turf Rolls to Warehouse</h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% crispy form %}
      </form>


    </div>
  </div>

  <script>
      document.getElementsByName("size")[0].disabled = true;
      function disableSizeField() {
          var selections = document.getElementById("id_status");
          var selected_index = document.getElementById("id_status").selectedIndex;
          if (selections[selected_index].text === "LOOSE") {
              console.log("Loose selected");
              document.getElementsByName("size")[0].disabled = false;
              document.getElementsByName("size")[0].required = true;
          } else{
              console.log(selections[selected_index].text);
              document.getElementsByName("size")[0].disabled = true;
              document.getElementsByName("size")[0].required = false;
          }
      }
  </script>
{% endblock %}
