{% extends 'base.html' %}

{% block content %}
    <br>
{#    <h3 class="text-center"> Available Products</h3>#}
    <br>
  <div class="card">
  <div class="card-header">
    <h5 class="card-title">Available Products</h5>
  </div>
  <div class="card-body">
    <table id="product-table" class="display table table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th>Product Code</th>
        <th>Category</th>
        <th>Color</th>
        <th>Height (mm)</th>
        <th>Width (m)</th>
        <th>Available Rolls</th>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td><a href="{% url 'product' product.id %}">{{ product.code }}</a></td>
          <td>{{ product.spec.category }}</td>
          <td>{{ product.spec.color }}</td>
          <td>{{ product.spec.height }}</td>
          <td>{{ product.spec.width }}</td>
          <td>{{ product.roll_count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

  <script>
      $(document).ready( function () {
         var oTable= $('#product-table').DataTable();
          oTable.fnSort(
              [
                  [0,'dsc'],
              ]
          );
      } );
  </script>


{% endblock %}
