{% extends 'base.html' %}

{% block content %}
<br>
<div class="card">
  <div class="card-header">
      <h5 class="card-title">Product Details</h5>
  </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Product Code</dt>
        <dd class="col-sm-9">{{ product.code }}</dd>

        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">{{ product.spec.category }}</dd>

        <dt class="col-sm-3">Color</dt>
        <dd class="col-sm-9">{{ product.spec.color }}</dd>

        <dt class="col-sm-3">Height (mm)</dt>
        <dd class="col-sm-9">{{ product.spec.height }}</dd>

        <dt class="col-sm-3">Width (m)</dt>
        <dd class="col-sm-9">{{ product.spec.width }}</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">{{ product.spec.location }}</dd>
      </dl>
    </div>
  <div class="card-footer">
{#    <a href="{% url 'products' %}" class="btn btn-secondary">Back to Products</a>#}
{#    <a href="{% url 'product-update' product.id %}" class="btn btn-primary">Update</a>#}
{#    <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Delete</a>#}
  </div>
</div>

  <br>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Total Rolls Available: {{ product.roll_count }}</h5>
    </div>
    <div class="card-body">
    {% if available_rolls %}
      <table id="product-roll-table" class="display table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
          <th>Specification</th>
          <th>Remain (m)</th>
          <th>Status</th>
          <th>Location</th>
        </tr>
        </thead>
        <tbody>
        {% for roll in available_rolls %}
          <tr>
            <td>{{ roll.spec }}</td>
            <td>{{ roll.remain }}</td>
            <td>{{ roll.status }}</td>
            <td>{{ roll.location }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h5>No stocks available for this product.</h5>
    {% endif %}
    </div>
  </div>

  <script>
      $(document).ready( function () {
          $('#product-roll-table').DataTable();
      } );
  </script>

{% endblock %}
