{% extends 'base.html' %}
{% load humanize %}

{% block content %}

  <br>
  <div class="row">
    <div class="container-fluid">
    <a href="{% url 'load-stocks' %}" class="btn btn-sm btn-primary float-lg-right">Load Stocks</a>
    {% for spec, rolls in turf_rolls.items %}
      <a id="{{ spec.id }}" name="spec-button" onclick='showMe("{{ spec.id }}")' class="btn btn-sm btn-outline-success">{{ spec.code }}</a>
    {% endfor %}
    </div>

  </div>
  <br>

{% for spec, rolls in turf_rolls.items %}

  {% if spec.is_turf %}
  <div id="card-{{ spec.id }}" class="card" style="visibility: hidden">
    <div class="card-header">
      <h5 class="card-title"><strong>{{ spec.code }}</strong></h5>
    </div>
  <div class="card-body">
    <div class="card-content table-responsive-sm">
      <table id="stocks-table-{{ spec.id }}" class="table table-sm table-hover table-borderless">
        <thead style="border-bottom: 1px solid black;">
        <tr>
          <th>ID</th>
          <th>Available (m<sup>2</sup>)</th>
          <th>Reserved (m<sup>2</sup>)</th>
          <th>Sold (m<sup>2</sup>)</th>
          <th>Status</th>
          <th>Note</th>
          <th>Batch</th>
          <th>Warehouse</th>
<!--           <th>Actions</th> -->
        </tr>
        </thead>
        <tbody>
        {% for roll in rolls %}
          {% if roll.status != "DEPLETED" %}
            <tr>
              <td><a href="{% url 'roll-update' roll.id %}">{{ roll.id }}</a></td>
              <td class="text-success">{{ roll.available|floatformat:2|intcomma }}</td>

              {% if roll.reserved != 0 %}
                <td><a class="text-warning" style="color: #anycolor
                        !important;" href="{% url 'reserved-orders' roll.id %}">{{ roll.reserved|floatformat:2|intcomma}}</a></td>
              {% else %}
                <td>{{ roll.reserved|floatformat:2|intcomma }}</td>
              {% endif %}

              {% if roll.sold != 0 %}
                <td class="text-primary"><a href="{% url "closed-orders" roll.id %}">{{ roll.sold|floatformat:2|intcomma }}</a></td>
              {% else %}
                <td>{{ roll.sold|floatformat:2|intcomma }}</td>
              {% endif %}
              <td><a class="btn btn-sm btn-{{ roll.status_color }}" style="pointer-events: none;">{{ roll.status }}</a></td>
              {% if roll.note %}
                <td>{{ roll.note }}</td>
              {% else %}
                <td></td>
              {% endif %}
              <td>{{ roll.batch }}</td>
              <td>{{ roll.location }}</td>
<!--               <td>
                {% if roll.available != 0 %}
                  <a href="{% url 'stock-split' roll.id %}" class="btn btn-sm btn-primary">Split</a>
                {% else %}
                  <a href="{% url 'stock-split' roll.id %}" style="pointer-events: none;" class="btn btn-sm btn-outline-secondary">Split</a>
                {% endif %}
              </td> -->
            </tr>
          {% else %}
            <tr>
              <td>{{ roll.id }}</td>
              <td class="text-success">{{ roll.available|floatformat:2|intcomma }}</td>

              {% if roll.reserved != 0 %}
                <td><a class="text-warning" style="color: #anycolor
                        !important;" href="{% url 'reserved-orders' roll.id %}">{{ roll.reserved|floatformat:2|intcomma }}</a></td>
              {% else %}
                <td>{{ roll.reserved|floatformat:2|intcomma }}</td>
              {% endif %}

              {% if roll.sold != 0 %}
                <td class="text-primary"><a href="{% url "closed-orders" roll.id %}">{{ roll.sold|floatformat:2|intcomma }}</a></td>
              {% else %}
                <td>{{ roll.sold|floatformat:2|intcomma }}</td>
              {% endif %}
              <td><a class="btn btn-sm btn-{{ roll.status_color }}" style="pointer-events: none;">{{ roll.status }}</a></td>
              {% if roll.note %}
                <td>{{ roll.note }}</td>
              {% else %}
                <td></td>
              {% endif %}

              <td>{{ roll.batch }}</td>

              {% if roll.location %}
                <td>{{ roll.location }}</td>
              {% else %}
                <td></td>
              {% endif %}
<!--               <td style="text-align: center"></td> -->
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>

  <!--
    <div class="text-center">
      {% for roll_data in all_rolls %}
        {% if roll_data.status != "DEPLETED" and roll_data.spec == spec %}
          <div id="chartContainer" class="col-sm-6" style="width: 30%; height: 30%;display: inline-block;">
            <canvas id="stock-roll-chart-{{ roll_data.id }}"></canvas>
          </div>
        {% endif %}
      {% endfor %}
    </div>
-->
  </div>
  </div>
  <br>

  {% else %}

  <div id="card-{{ spec.id }}" class="card" style="visibility: hidden">
    <div class="card-header">
      <h5 class="card-title"><strong>{{ spec.code }}</strong></h5>
    </div>
    <div class="card-body">
      <div class="card-content table-responsive-sm">
        <table id="stocks-table-{{ spec.id }}" class="table table-sm table-hover table-borderless">
          <thead style="border-bottom: 1px solid black;">
          <tr>
            <th>ID</th>
            <th>Available (m)</th>
            <th>Reserved (m)</th>
            <th>Sold (m)</th>
            <th>Status</th>
            <th>Note</th>
            <th>Batch</th>
            <th>Warehouse</th>
<!--             <th>Actions</th> -->
          </tr>
          </thead>
          <tbody>
          {% for roll in rolls %}
            {% if roll.status != "DEPLETED" %}
              <tr>
                <td><a href="{% url 'roll-update' roll.id %}">{{ roll.id }}</a></td>
                <td class="text-success">{{ roll.available|floatformat:2|intcomma }}</td>

                {% if roll.reserved != 0 %}
                  <td><a class="text-warning" style="color: #anycolor
                          !important;" href="{% url 'reserved-orders' roll.id %}">{{ roll.reserved|floatformat:2|intcomma }}</a></td>
                {% else %}
                  <td>{{ roll.reserved|floatformat:2|intcomma }}</td>
                {% endif %}

                {% if roll.sold != 0 %}
                  <td class="text-primary"><a href="{% url "closed-orders" roll.id %}">{{ roll.sold|floatformat:2|intcomma }}</a></td>
                {% else %}
                  <td>{{ roll.sold|floatformat:2|intcomma }}</td>
                {% endif %}
                <td><a class="btn btn-sm btn-{{ roll.status_color }}" style="pointer-events: none;">{{ roll.status }}</a></td>
                {% if roll.note %}
                  <td>{{ roll.note }}</td>
                {% else %}
                  <td></td>
                {% endif %}

                <td>{{ roll.batch }}</td>
                <td>{{ roll.location }}</td>
<!--                 <td>
                  {% if roll.available != 0 %}
                    <a href="{% url 'stock-split' roll.id %}" class="btn btn-sm btn-primary">Split</a>
                  {% else %}
                    <a href="{% url 'stock-split' roll.id %}" style="pointer-events: none;" class="btn btn-sm btn-outline-secondary">Split</a>
                  {% endif %}
                </td> -->
              </tr>
            {% else %}
              <tr>
                <td>{{ roll.id }}</td>
                <td class="text-success">{{ roll.available|floatformat:2|intcomma }}</td>

                {% if roll.reserved != 0 %}
                  <td><a class="text-warning" style="color: #anycolor
                          !important;" href="{% url 'reserved-orders' roll.id %}">{{ roll.reserved|floatformat:2|intcomma}}</a></td>
                {% else %}
                  <td>{{ roll.reserved|floatformat:2|intcomma }}</td>
                {% endif %}

                {% if roll.sold != 0 %}
                  <td class="text-primary"><a href="{% url "closed-orders" roll.id %}">{{ roll.sold|floatformat:2|intcomma }}</a></td>
                {% else %}
                  <td>{{ roll.sold|floatformat:2|intcomma }}</td>
                {% endif %}
                <td><a class="btn btn-sm btn-{{ roll.status_color }}" style="pointer-events: none;">{{ roll.status }}</a></td>
                {% if roll.note %}
                  <td>{{ roll.note }}</td>
                {% else %}
                  <td></td>
                {% endif %}

                <td>{{ roll.batch }}</td>

                {% if roll.location %}
                  <td>{{ roll.location }}</td>
                {% else %}
                  <td></td>
                {% endif %}
<!--                 <td style="text-align: center"></td> -->
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>

      <!--
      <div class="text-center">
        {% for roll_data in all_rolls %}
          {% if roll_data.status != "DEPLETED" and roll_data.spec == spec %}
            <div id="chartContainer" class="col-sm-6" style="width: 30%; height: 30%;display: inline-block;">
              <canvas id="stock-roll-chart-{{ roll_data.id }}"></canvas>
            </div>
          {% endif %}
        {% endfor %}
      </div>
  -->
    </div>
  </div>

  {% endif %}
{% endfor %}
  <script>
      // enable the first stock on load
      document.getElementsByName("spec-button")[0].classList.add("btn-success");
      document.getElementsByName("spec-button")[0].classList.remove("btn-outline-success");
      document.getElementsByClassName("card")[0].style.visibility = "visible";

      function showMe(id) {
          let cards = document.getElementsByClassName("card");
          for (let i=0; i<cards.length; i++) {
              let card = cards[i];
              card.style.visibility = "hidden";
          }
          let spec_btns = document.getElementsByName("spec-button");
          for (let i=0; i<spec_btns.length; i++) {
              let btn = spec_btns[i];
              if (id === btn.id) {
                  if (btn.classList.contains("btn-outline-success")) {
                      btn.classList.remove("btn-outline-success");
                      btn.classList.add("btn-success");
                      let clicked_card_id = "card-" + id;
                      let clicked_card = document.getElementById(clicked_card_id);
                      clicked_card.parentNode.insertBefore(clicked_card, cards[0]);
                      document.getElementsByClassName("card")[0].style.visibility = "visible";
                  } else {
                      btn.classList.remove("btn-success");
                      btn.classList.add("btn-outline-success");
                  }
              } else {
                  if (btn.classList.contains("btn-success")) {
                      btn.classList.remove("btn-success");
                      btn.classList.add("btn-outline-success");
                  }
              }
          }
      }

      {% for spec, rolls in turf_rolls.items %}
      $(document).ready( function () {
          $('#stocks-table-{{ spec.id }}').DataTable(
              {
                "ordering": false,
                "pageLength": 100
              }
          );
      } );
      {% endfor %}
/*
      var endpoint = "/api/stock/data/";
      {#var defaultData = [];#}
      {#var labels = [];#}
      $.ajax({
          method: "GET",
          url: endpoint,
          success: function (data) {
              Object.keys(data).forEach(function(key) {
                  //console.table('Key : ' + key + ', Value : ' + data[key].code)
                  var chart_id = "stock-roll-chart-" + (key).toString();
                  var default_data = data[key].default;
                  var labels = data[key].labels;
                  var code = "ID: " + key.toString();
                  var ctx = document.getElementById(chart_id);
                  setDoughnutChart(labels, default_data, ctx, code);
              })

          },
          error: function (error_data) {
              console.log("error");
              console.log(error_data);
          }
      });

      function setDoughnutChart(labels, defaultData, ctx, code) {
          var myChart = new Chart(ctx, {
              type: "doughnut",
              data: {
                  labels: labels,
                  datasets: [{
                      label: "m²",
                      data: defaultData,
                      backgroundColor: ["#32CD32", "#949FB1", "#FDB45C", "#FFFFFF", "#46BFBD", "#4D5360", "#F7464A"],
                      hoverBackgroundColor: ["#7CFC00", "#A8B3C5", "#FFC870", "#FFFFFF", "#5AD3D1", "#616774", "#FF5A5E"],
                      {#borderColor: [#}
                      {#    'rgba(255, 99, 132, 1)',#}
                      {#    'rgba(54, 162, 235, 1)',#}
                      {#    'rgba(255, 206, 86, 1)',#}
                      {#    'rgba(75, 192, 192, 1)',#}
                      {#    'rgba(153, 102, 255, 1)',#}
                      {#    'rgba(255, 159, 64, 1)'#}
                      {#],#}
                      borderWidth: 1.5
                  }]
              },
              options: {
                  maintainAspectRatio: false,
                  responsive: true,
                  legend: {
                      display: false,
                      labels: {
                          fontSize: 10
                      }
                  },
                  title: {
                      display: true,
                      text: code,
                      fontStyle: "bold"
                  }
              }
          });
      }

*/
  </script>


{% endblock %}
